POSTGRES_DB=cloud_vault
POSTGRES_USER=cloud_vault_user
POSTGRES_PASSWORD=change_me

DATABASE_URL=postgresql+psycopg://cloud_vault_user:change_me@db:5432/cloud_vault

APP_VERSION=0.1.0
MAX_CONTENT_LENGTH=10485760

AWS_REGION=us-east-1
S3_BUCKET_NAME=change_me
S3_PRESIGNED_URL_TTL=300
